body {
  color: #3e4b52;
}
.features {
  padding: 60px 0;
}
.feature {
  text-align: center;
  padding: 10px;
}
.feature .glyphicon {
  font-size: 50px;
}
.leave-space-down {
  padding-bottom: 20px;
}
.leave-space-up {
  padding-top: 20px;
}
/*
 * Footer
 */
.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
